body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
}

header .logo {
    display: flex;
    align-items: center;
    font-size: 0.5rem;
    font-weight: bold;
}

header .logo img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
}

main {
    text-align: center;
    padding: 20px;
}

main h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

main p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.buttons {
    margin: 20px 0;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
}

.admin-btn {
    background-color: #FFD700;
    color: white;
}

.employee-btn {
    background-color: #FFD700;
    color: rgb(255, 255, 255);
}

.main-image {
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
    border-radius: 10px;
}

.description {
    font-size: 0.9rem;
    color: #555;
    margin-top: 10px;
}

footer {
    background-color: #7c7c7c33;
    color: #000000;
    padding: 2px 2px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px; 
}

footer p {
    margin: 0;
    margin-left: 15px;
}

footer .footer-links {
    display: flex;
    gap: 20px;
}

footer .footer-links a {
    color: #000000;
    text-decoration: none;
    font-size: 0.9rem;
    gap: 10px;
}